<html>
    <head></head>
    <body>
        <form action="/addfile" method="POST" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit" >Submit</button>
    </form>
        </body>
</html>