<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Pixplay</title>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><b>PIXPLAY</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/signup">Signup <span class="sr-only">(current)</span></a>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          
        </form>
      </div>
    </nav>

    <div class="container" style="font-size: 50px;"><center><b>P I X P L A Y</b></center></div>
<div class="container" >
  <center><form action="/signup" method="post">
    <div class="form">
      <div class="form-group col-md-6">
        <label for="inputEmail4"><h3>NAME</h3></label>
        <input type="text" name="name" class="form-control" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4"><h3>EMAIL</h3></label>
        <input type="email" name="email" class="form-control" >
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"><h3>PASSWORD</h3></label>
        <input type="password" name="pass1" onchange="password()" class="form-control" id="pass1">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4"><h3>CONFIRM PASSWORD</h3></label>
        <input type="password" name="pass2" onchange="password()" class="form-control" id="pass2">
      </div>
    </div>
    
    <center><button type="submit" id="reg" onchange="password()" class="btn btn-primary">Sign Up</button></center>

  </form>
</center>

  <center>
    <% if (msg != "") { %>
      <div style="color:red; ;"><%= msg %></div>
  <% } %>
  
  Have an account .<a href="/login">Login here</a>
</center>
</div>



<!-- <div class="container">
      <form class="box" action="/signup" method="post">
        <h1>Signup</h1> 
        <input type="text" name="name" placeholder="Username">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="pass1" placeholder="Password">
        <input type="password" name="pass2" placeholder="Re-enter Password">
        <button type="submit">Login</button>
        <% if (msg != "") { %>
          <div style="color:red;"><%= msg %></div>
      <% } %>
      </form>
      <p class="extra">Have an account .<a href="/login">Login here</a></p>
      
      
      
      
      
</div>  -->

      <script>
                function password(){
            var pass1 = document.getElementById('pass1').value
            var pass2 = document.getElementById('pass2').value
            if (pass1 != pass2){
                document.getElementById('reg').disabled = true
            }else{
                document.getElementById('reg').disabled = false
            }
        }
        </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>